.mynavbutton {
    position: relative;
    border: 1px solid green;
    left: 60px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 1%; 
}


.bar1 {
    position: relative;
    background-color: black;
    width: 10px;
    height: 5px;
    margin: 6px auto;   
    transition: .5s;
}

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 10px;
    background-color: azure;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidemenu a {
    display: block;
    text-decoration: none;
}

.sidemenu a:hover {
    color: #2512d6;
}